// 设置 rem 基准值
html {
  font-size: 100px;
  @media screen and (min-width: 751px) and (max-width: 1920px) {
    font-size: calc(100vw / 19.2);
  }
  @media screen and (max-width: 750px) {
    font-size: calc(100vw / 7.5);
    padding-bottom: 1.2rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: 'AiDeep';
  src: url('/assets/fonts/AiDeep-2.otf');
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.otf');
}
@font-face {
  font-family: 'Walter Turncoat';
  src: url('/assets/fonts/WalterTurncoat-Regular.ttf');
}

html,
body {
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-text-size-adjust: none;
  height: fit-content;
  background: linear-gradient(180deg, #0677c7 0%, #87ddf4 100%);
}

.package_version {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  color: #555;
}

input,
textarea {
  border: none;
  resize: none;
  background: transparent;
  &:focus-visible {
    border: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-message {
  top: 1rem !important;
  .ant-message-notice-content {
    .ant-message-custom-content {
      display: flex;
      font-family: Poppins;
      font-size: 0.2rem;
    }
  }
}

.ant-table-wrapper .ant-table {
  font-family: Poppins;
  font-weight: 600;
  color: #56b6fe;
}

[class^='ant-table'],
[class*=' ant-table'] {
  font-size: 0.18rem;
}

.ant-tag {
  height: 0.38rem;
  line-height: 0.38rem;
  border-radius: 0.28rem;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.16rem;
  text-align: center;
}

.ant-tag.ant-tag-red {
  color: #ed6263;
  border-color: #ed6263;
}
.ant-tag.ant-tag-blue {
  color: #50b4ff;
  border-color: #50b4ff;
}
.ant-tag.ant-tag-green {
  color: #48a22d;
  border-color: #48a22d;
}

.unstake-btn {
  width: 1.2rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background: #50b4ff;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.16rem;
  color: #ffffff;
}

.emergency-btn {
  width: 1.2rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background: #ff8394;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.16rem;
  color: #ffffff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header,
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.24rem;
}
.ant-collapse .ant-collapse-content {
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.16rem;
}

.ant-input-outlined {
  background: transparent;
  border-width: 0;
  &:focus,
  &:focus-within {
    border-color: transparent;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
  }
}

.ant-popover .ant-popover-inner {
  box-shadow: none;
  padding: 0;
}

.ant-tabs {
  .ant-tabs-tab {
    padding: 0.1rem;
  }
  .ant-tabs-tab-btn {
    font-family: AiDeep;
    font-weight: 400;
    font-size: 0.16rem !important;
    color: #5c7392;
  }
}
