header {
  width: 90vw;
  height: 0.9rem;
  position: fixed;
  top: 0.1rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  background-color: #fff;
  background: #f8fbffcc;
  border: 1px solid #fff;
  border-radius: 0.24rem;
  backdrop-filter: blur(0.045rem);
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;
    .logo-box {
      a {
        display: flex;
        align-items: center;
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.24rem;
        color: #60bbfd;
        img {
          margin-right: 0.1rem;
          width: 0.4rem;
          height: 0.4rem;
        }
      }
    }
    .menu-list {
      display: flex;
      align-items: center;
      .menu {
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.24rem;
        color: #60bbfd;
        margin-left: 0.3rem;
        &:hover,
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-input {
      width: 3.5rem;
      height: 0.48rem;
      border-radius: 0.12rem;
      background: #ffffff;
      margin-right: 0.1rem;
      .ant-select-prefix {
        .anticon-search {
          font-size: 0.3rem;
          color: #50b4ff;
        }
      }
    }
    .number-box {
      width: fit-content;
      min-width: 1.2rem;
      height: 0.48rem;
      border-radius: 0.12rem;
      background: #fff;
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.2rem;
      color: #5c7392;
      padding: 0 0.15rem;
      margin-right: 0.1rem;
      img {
        width: auto;
        height: 65%;
        margin-right: 0.1rem;
      }
    }
  }
}

.connect-button {
  width: fit-content;
  height: 0.48rem;
  border-radius: 0.3rem;
  background: #50b4ff;
  color: #fff;
  font-family: AiDeep;
  font-weight: 400;
  font-size: 0.2rem;
  padding: 0 0.1rem;
  margin-right: 0.1rem;
  img {
    width: auto;
    height: 0.3rem;
    margin-right: 0.1rem;
  }
}

main {
  width: 100%;
  min-height: calc(100vh - 3rem);
}

footer {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  .rolling-box {
    width: 100%;
    height: 0.9rem;
    background: linear-gradient(90deg, #c1f4fb 0%, #ffdd6a 47%, #ff7b97 72%, #4cbbec 95%);
    padding: 0.05rem 0;
    .rolling-content {
      width: 100%;
      height: 0.8rem;
      background: #3b5077;
      .rolling-item {
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.48rem;
        margin: 0 0.5rem;
        background: linear-gradient(90deg, #f0e38f 2.69%, #ff8394 58.42%, #4cbbed 92.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  .footer-box {
    width: 100%;
    height: 2.1rem;
    background: #0c1b46;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-content {
      width: 12rem;
      display: flex;
      justify-content: space-between;
      .footer-left {
        .footer-logo {
          display: flex;
          align-items: center;
          margin-bottom: 0.2rem;
          img {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.1rem;
          }
          span {
            font-family: AiDeep;
            font-weight: 400;
            font-size: 0.24rem;
            color: #ffffff;
          }
        }
        .footer-text {
          font-family: Poppins;
          font-weight: 400;
          font-size: 0.24rem;
          color: #ffffff;
        }
      }
      .footer-right {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        a {
          width: auto;
          height: 0.4rem;
          margin-left: 0.3rem;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}

.rolling-box {
  width: 100%;
  height: 0.9rem;
  padding: 0.05rem 0;
  background: #eeebff;
  position: relative;
  &.rolling-box-1 {
    transform: rotate(1deg);
    transform-origin: left top;
    top: -0.35rem;
  }
  &.rolling-box-2 {
    transform: rotate(-2.2deg);
    transform-origin: right top;
  }
  .rolling-content {
    width: 100%;
    height: 0.8rem;
    background: #36affd;
    .rolling-item {
      font-family: AiDeep;
      font-weight: 400;
      font-size: 0.48rem;
      color: #ffffff;
    }
  }
}

.rolling-content {
  white-space: nowrap;
  .rolling-item {
    width: 4rem;
    display: inline-block;
    text-align: center;
    animation: loop 8s linear infinite;
  }
}

.s-box {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  background: #e2edfd;
  padding: 0 0.1rem;
  border-radius: 0.2rem;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.18rem;
  color: #5c7392;
  text-align: left;
  position: relative;
  .s-img {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    background: #e2edfd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    img {
      width: 65%;
      height: auto;
    }
  }
  .s-text {
    padding-left: 0.4rem;
  }
}

.title-box {
  width: fit-content;
  margin: 1rem auto;
  .title {
    width: fit-content;
    font-family: AiDeep;
    font-weight: 400;
    font-size: 0.64rem;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    .star-img {
      width: 0.32rem;
      height: 0.32rem;
      position: absolute;
      top: 0.2rem;
      right: -0.4rem;
    }
  }
}
.css-box {
  width: fit-content;
  margin: 0.2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo2 {
    width: 0.48rem;
    height: 0.48rem;
    margin: 0 0.3rem;
  }
  .border1 {
    width: 2.76rem;
    border: 0.01rem solid transparent;
    border-image-source: linear-gradient(270deg, #ffffff -1.76%, rgba(157, 195, 248, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1;
  }
  .border2 {
    width: 2.76rem;
    border: 0.01rem solid transparent;
    border-image-source: linear-gradient(90deg, #ffffff -1.76%, rgba(157, 195, 248, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1;
  }
}
.title-box-2 {
  width: fit-content;
  font-family: AiDeep;
  font-weight: 400;
  font-size: 0.64rem;
  color: #ffffff;
  position: relative;
  .star-img {
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    top: 0.2rem;
    right: -0.4rem;
  }
}

.tab-box-box {
  width: 14rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-box {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  button {
    min-width: 1rem;
    width: fit-content;
    height: 0.38rem;
    padding: 0 0.1rem;
    border-radius: 0.12rem;
    background: #ffffff;
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.2rem;
    color: #50b4ff;
    margin-right: 0.1rem;
    &.active {
      background: #0081d2;
      color: #ffffff;
    }
  }
  &.tab-box2 {
    button {
      margin-right: 0;
      margin-left: 0.1rem;
    }
  }
}

.explore-page {
  width: 100%;
  overflow: hidden;
  .banner {
    width: 100%;
    height: 100%;
    position: relative;
    .banner-1 {
      width: 100%;
      height: auto;
    }
    .banner-content {
      width: 9.5rem;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: auto;
      .text {
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.36rem;
        color: #ffffff;
        text-align: center;
      }
    }
    .text2 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.24rem;
      color: #ffffff;
      text-align: right;
      position: absolute;
      left: 5rem;
      top: 2rem;
    }
    .text3 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.24rem;
      color: #ffffff;
      text-align: left;
      position: absolute;
      right: 5rem;
      top: 5rem;
    }
  }

  .page-box {
    width: 100%;
    height: fit-content;
    position: relative;
    .img-11 {
      width: 3rem;
      height: auto;
      position: absolute;
      bottom: 5rem;
      left: 0;
      z-index: 1;
    }
    .img-12 {
      width: 3rem;
      height: auto;
      position: absolute;
      bottom: 1.5rem;
      right: 0;
      z-index: 1;
    }
    .img-13 {
      width: 3rem;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .img-14 {
      width: 2rem;
      height: auto;
      position: absolute;
      bottom: 6rem;
      right: 0;
      z-index: 1;
    }
    .page-box-box {
      width: 100%;
      height: fit-content;
      position: relative;
      z-index: 2;
    }
  }

  .banner2 {
    width: fit-content;
    height: fit-content;
    margin: 1rem auto;
    .banner2-content {
      width: 12rem;
      height: fit-content;
      border-radius: 0.24rem;
      background: #2982c4 url('/assets/images/img-6.png') no-repeat;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;

      .text1 {
        width: 48%;
        font-family: Poppins;
        font-weight: 500;
        font-size: 0.2rem;
        text-transform: capitalize;
        color: #ffffff;
      }
      .text-img {
        width: 48%;
        height: auto;
      }
      .img-1 {
        width: 2.7rem;
        height: auto;
        position: absolute;
        bottom: -0.5rem;
        left: -2rem;
      }
      .img-2 {
        width: 3.5rem;
        height: auto;
        position: absolute;
        bottom: 0;
        right: -0.5rem;
      }
    }
  }

  .level-box {
    width: 14rem;
    margin: 1rem auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .level-item {
      width: 4.2rem;
      height: 4.2rem;
      position: relative;
      border-radius: 0.2rem;
      box-shadow: 0px 10px 8.4px 0px #00000040;
      &:nth-child(2) {
        transform: scale(1.2);
        transform-origin: center bottom;
      }
      .bg {
        width: 100%;
        height: 100%;
      }
      .level {
        width: 0.75rem;
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
      }
      .avatar-box {
        width: fit-content;
        position: absolute;
        top: 0.35rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        .avatar {
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
          border: 0.03rem solid #ffffff;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          font-family: Poppins;
          font-weight: 600;
          font-size: 0.24rem;
          color: #ffffff;
        }
      }
      .info-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1rem;
        position: absolute;
        bottom: 0;
        padding: 0.2rem;
        .info-box-item {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          gap: 0.1rem;
        }

        .info-item {
          width: 100%;
          height: 0.4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #e2edfd;
          border-radius: 0.2rem;
          padding: 0 0.1rem;
          > div {
            font-family: Poppins;
            font-weight: 600;
            font-size: 0.18rem;
            color: #5c7392;
            &:nth-child(2) {
              color: #56b6fe;
            }
          }
        }
        .info-item2 {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .stake-btn {
            width: 100%;
            height: 0.4rem;
            border-radius: 0.18rem;
            background: #50b4ff;
            font-family: Poppins;
            font-weight: 600;
            font-size: 0.2rem;
            color: #ffffff;
          }
        }
      }
    }
  }

  .page-box2 {
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    .faq-box {
      width: 14rem;
      padding: 1rem 0;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      .faq-content {
        width: 8rem;
      }
    }
    .img-15 {
      width: auto;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .img-16 {
      width: 5rem;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.stake-page {
  width: 100%;
  position: relative;
  .img-37 {
    width: 6rem;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .stake-box {
    width: 14rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    position: relative;
    z-index: 2;
    .back-box {
      width: fit-content;
      position: relative;
      span {
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.4rem;
        color: #ffffff;
        margin-left: 0.1rem;
      }
      .star-img {
        width: 0.32rem;
        height: 0.32rem;
        position: absolute;
        top: 0;
        right: -0.4rem;
      }
    }
    .stake-content {
      margin-top: 0.5rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .left-box {
        width: 7.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        .img-23 {
          width: 0.77rem;
          position: absolute;
          top: 0.3rem;
          right: -0.45rem;
        }
        .star-img {
          width: 0.32rem;
          height: 0.32rem;
          position: absolute;
          top: 3.1rem;
          right: -0.2rem;
        }
        .box1 {
          width: 100%;
          height: 3.2rem;
          background: url('/assets/images/img-20.png') no-repeat;
          background-size: 100% 100%;
          position: relative;
          margin-bottom: 0.1rem;
          .text {
            width: 2.6rem;
            font-family: Walter Turncoat;
            font-weight: 400;
            font-size: 0.24rem;
            color: #5c7392;
            position: absolute;
            top: 1.5rem;
            right: 0.8rem;
          }
        }
        .box2 {
          width: calc(100% - 0.6rem);
          height: 3.5rem;
          background: url('/assets/images/img-21.png') no-repeat;
          background-size: 100% 100%;
          padding: 0.3rem 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .avatar-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .avatar {
              display: flex;
              align-items: center;
              img {
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                margin-right: 0.2rem;
              }
              span {
                font-family: Poppins;
                font-weight: 400;
                font-size: 0.24rem;
                color: #000000;
              }
            }
            .icon-box {
              display: flex;
              align-items: center;
              a {
                width: fit-content;
                height: fit-content;
                margin-left: 0.2rem;
                img {
                  width: auto;
                  height: 0.3rem;
                }
              }
            }
          }
          .text1 {
            font-family: Poppins;
            font-weight: 400;
            font-size: 0.2rem;
            color: #5c7392;
          }
          .text2 {
            width: 100%;
            border-radius: 0.18rem;
            background: #e2edfd;
            > div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-family: Poppins;
              font-weight: 400;
              font-size: 0.2rem;
              color: #000000;
              padding: 0.15rem 0.3rem;
              border-bottom: 1px solid #ffffff;
            }
          }
          .text3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              font-family: Poppins;
              font-weight: 400;
              font-size: 0.24rem;
              color: #5c7392;
            }
            .pool-address {
              width: fit-content;
              height: 0.4rem;
              border-radius: 0.2rem;
              border: 1px solid #50b4ff;
              display: flex;
              align-items: center;
              font-family: Poppins;
              font-weight: 400;
              font-size: 0.16rem;
              color: #50b4ff;
              padding: 0 0.1rem;
              .anticon-export {
                font-size: 0.2rem;
                color: #50b4ff;
                margin-left: 0.1rem;
              }
            }
          }
        }
      }
      .right-box {
        width: 6.2rem;
        height: 5.8rem;
        background: url('/assets/images/img-22.png') no-repeat;
        background-size: 100% 100%;
        margin-left: 0.1rem;
        padding: 0.2rem 0.5rem;

        .tab-title-box {
          height: 0.48rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0.2rem;
          font-family: Poppins;
          font-weight: 500;
          font-size: 0.2rem;
          color: #5c7392;
        }
        .stake-item {
          width: 100%;
          height: calc(100% - 0.7rem);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .margin-bottom {
            margin-bottom: 0.4rem;
          }
          .text2 {
            font-family: Poppins;
            font-weight: 500;
            font-size: 0.12rem;
            color: #7f98bb;
            text-align: center;
          }
          .text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .s-box {
              width: 50%;
            }
            .num {
              color: #37affb;
            }
            > span {
              font-family: Poppins;
              font-weight: 400;
              font-size: 0.2rem;
              color: #5c7392;
            }
            .days {
              display: flex;
              align-items: center;
              button {
                width: 0.85rem;
                height: 0.4rem;
                border-radius: 0.2rem;
                font-family: Poppins;
                font-weight: 400;
                font-size: 0.2rem;
                background: #e2edfd;
                color: #5c7392;
                margin-left: 0.1rem;
                &.active {
                  background: #50b4ff;
                  color: #ffffff;
                }
              }
            }
            .number {
              font-family: Poppins;
              font-weight: 700;
              font-size: 0.2rem;
              color: #5c7392;
            }
          }

          .avatar-box-box {
            width: 100%;
            height: 0.7rem;
            background: #e2edfd;
            border-radius: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.2rem;
            .avatar-box {
              display: flex;
              align-items: center;
              img {
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                margin-right: 0.2rem;
              }
              span {
                font-family: Poppins;
                font-weight: 400;
                font-size: 0.24rem;
                color: #000000;
              }
            }
            .number-box {
              display: flex;
              flex-direction: column;
              text-align: right;
              .number {
                font-family: Poppins;
                font-weight: 400;
                font-size: 0.24rem;
                color: #000000;
              }
              .number2 {
                width: fit-content;
                min-width: 0.6rem;
                height: 0.18rem;
                border-radius: 0.18rem;
                background: #9dc3f8;
                font-family: Poppins;
                font-weight: 400;
                font-size: 0.12rem;
                color: #ffffff;
                text-align: right;
                padding: 0 0.1rem;
              }
            }
          }

          .inputbox {
            width: 100%;
            height: 0.7rem;
            background: #e2edfd;
            border-radius: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.2rem;
            .ant-input {
              font-family: Poppins;
              font-weight: 600;
              font-size: 0.24rem;
            }
            .max-btn {
              width: 1.2rem;
              height: 0.48rem;
              border-radius: 0.18rem;
              background: #50b4ff;
              font-family: Poppins;
              font-weight: 600;
              font-size: 0.2rem;
              color: #ffffff;
            }
          }

          .stake-btn {
            width: 100%;
            height: 0.5rem;
            border-radius: 0.12rem;
            font-family: Poppins;
            font-weight: 600;
            font-size: 0.2rem;
          }
        }
      }
    }
  }
}

.dashboard-page {
  width: 100%;
  padding: 1rem 0;
  .page-box {
    width: 14rem;
    margin: 0 auto;
  }
  .banner-box {
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 0.24rem;
    backdrop-filter: blur(0.04rem);
    position: relative;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    .banner-item {
      width: 25%;
      padding: 0 0.5rem;
      text-align: center;
      &:nth-child(1),
      &:nth-child(2) {
        border-right: 1px solid #76c6fb;
      }
      .banner-item-title {
        font-family: Poppins;
        font-weight: 500;
        font-size: 0.2rem;
        color: #5c7392;
        margin-bottom: 0.1rem;
      }
      .text {
        font-family: Poppins;
        font-weight: 500;
        font-size: 0.24rem;
        color: #5c7392;
      }
    }
    .img-24 {
      width: auto;
      height: 4.2rem;
      position: absolute;
      bottom: -0.8rem;
      right: 0;
    }
  }
}

.tablebox {
  width: 14rem;
  margin: 0.5rem auto;
  border-radius: 0.24rem;
  background: #ffffff;
  padding: 0.1rem;

  .rank {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.2rem;
    color: #56b6fe;
  }

  .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      > img {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        margin-right: 0.1rem;
      }
      > span {
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.2rem;
        color: #56b6fe;
      }
    }
    > img {
      width: 0.3rem;
      height: 0.3rem;
    }
  }
  .text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.2rem;
    color: #56b6fe;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .stake-btn {
      width: 1.3rem;
      height: 0.5rem;
      border-radius: 0.18rem;
      background: #50b4ff;
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.2rem;
      color: #ffffff;
    }
  }
  .staked-status {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 0.2rem;
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.2rem;
    color: #ffffff;
    padding: 0.05rem 0.1rem;
    &.Completed {
      background: #9dc3f8;
    }
    &.Redeemed {
      background: #bdbdbd;
    }
  }
  .hash {
    span {
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.2rem;
      color: #56b6fe;
    }
    .anticon {
      width: 0.3rem;
      height: 0.3rem;
      margin-left: 0.1rem;
    }
  }
}

.unstake-modal .ant-modal-content {
  border: 0.04rem solid #50b4ff;
  border-radius: 0.24rem;
}
.unstake-modal-box {
  width: 5rem;
  > div:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  .img-26 {
    width: auto;
    height: 1rem;
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
  }
  .title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.24rem;
    text-align: center;
    color: #50b4ff;
  }
  .text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.16rem;
    text-align: center;
    color: #5c7392;
  }
  .text2 {
    display: flex;
    justify-content: space-between;
    &.text3 {
      .text2-1 {
        color: #5c7392;
      }
      .text2-2 {
        > div {
          &:nth-child(1) {
            color: #5c7392;
          }
        }
      }
    }
    .text2-1 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 0.18rem;
      color: #50b4ff;
    }
    .text2-2 {
      > div {
        &:nth-child(1) {
          font-family: Poppins;
          font-weight: 600;
          font-size: 0.18rem;
          color: #50b4ff;
          margin-bottom: 0.1rem;
        }
      }
    }
  }
  .text-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.18rem;
    color: #50b4ff;
  }
  .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-cancel {
      width: 1.28rem;
      height: 0.48rem;
      border-radius: 0.14rem;
      background: #ffffff;
      border: 1px solid #50b4ff;
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.2rem;
      color: #50b4ff;
    }
    .btn-confirm {
      width: 2.2rem;
      height: 0.48rem;
      border-radius: 0.14rem;
      background: #50b4ff;
      font-family: Poppins;
      font-weight: 600;
      font-size: 0.2rem;
      color: #ffffff;
    }
  }
}

.stake-modal .ant-modal-content {
  background: transparent;
  box-shadow: none;
}
.stake-modal-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  .img-27 {
    width: 16rem;
    height: auto;
  }
  .img-28 {
    width: 2.48rem;
    height: auto;
    position: absolute;
    top: 0.6rem;
    left: 0;
    z-index: 1;
  }
  .img-29 {
    width: 0.72rem;
    height: auto;
    position: absolute;
    top: 2.8rem;
    left: -0.4rem;
    z-index: 2;
  }
  .img-30 {
    width: 1.6rem;
    height: auto;
    position: absolute;
    top: 0.5rem;
    left: 4.3rem;
    z-index: 3;
  }
  .img-31 {
    width: 2.2rem;
    height: auto;
    position: absolute;
    top: 5.3rem;
    left: 12rem;
    z-index: 4;
  }
  .img-32 {
    width: 9rem;
    height: auto;
    position: absolute;
    top: 0.5rem;
    left: 5rem;
    z-index: 5;
  }
  .img-33 {
    width: 1.5rem;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 6;
    cursor: pointer;
  }

  .text1 {
    font-family: AiDeep;
    font-weight: 400;
    font-size: 0.24rem;
    color: #ad6b51;
    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
    z-index: 11;
    transform: rotate(-8deg);
  }
  .text2 {
    font-family: AiDeep;
    font-weight: 400;
    font-size: 0.22rem;
    color: #7a6962;
    position: absolute;
    top: 2.5rem;
    left: 0.7rem;
    z-index: 12;
  }
  .text3 {
    position: absolute;
    top: 6rem;
    left: 0.7rem;
    z-index: 13;
    a {
      font-family: AiDeep;
      font-weight: 400;
      font-size: 0.14rem;
      color: #a4a097;
    }
    .btn-box {
      display: flex;
      align-items: center;
      .btn-close {
        width: 1.2rem;
        height: 0.48rem;
        border-radius: 0.12rem;
        background: #f8f6ef;
        border: 1px solid #a4a097;
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.24rem;
        color: #a4a097;
      }
      .btn-share {
        width: 2rem;
        height: 0.48rem;
        border-radius: 0.12rem;
        background: #37affb;
        font-family: AiDeep;
        font-weight: 400;
        font-size: 0.24rem;
        color: #f9f7f0;
        margin-left: 0.1rem;
        img {
          width: 0.24rem;
          height: 0.24rem;
          margin-left: 0.1rem;
        }
      }
    }
  }
}

.project-popover {
  width: 4.8rem;
  background: url('/assets/images/img-17.png') no-repeat;
  background-size: 100% 100%;
  padding: 0.2rem;
  .title {
    width: 100%;
    height: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #50b4ff;
    padding: 0 0.2rem;
    .name {
      display: flex;
      align-items: center;
      img {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        margin-right: 0.1rem;
      }
      span {
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.2rem;
        color: #354459;
      }
    }
    .number {
      font-family: Poppins;
      font-weight: 700;
      font-size: 0.24rem;
      color: #50b4ff;
    }
  }
  .info {
    width: 100%;
    height: 2.7rem;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .info-title {
      display: flex;
      align-items: center;
      img {
        width: 0.3rem;
        margin-right: 0.1rem;
      }
      span {
        font-family: Poppins;
        font-weight: 400;
        font-size: 0.2rem;
        color: #5c7392;
      }
    }
    .info-text {
      font-family: Poppins;
      font-weight: 400;
      font-size: 0.16rem;
      color: #50b4ff;
    }
    a {
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-weight: 400;
      font-size: 0.16rem;
      color: #50b4ff;
      img {
        width: 0.24rem;
        margin: 0 0.1rem;
      }
    }
  }
}

.project-box {
  .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      > img {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        margin-right: 0.1rem;
      }
      > span {
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.2rem;
        color: #56b6fe;
      }
    }
    > img {
      width: 0.3rem;
      height: 0.3rem;
    }
  }
}
.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  font-family: AiDeep;
  font-weight: 400;
  font-size: 0.2rem;
  color: #50b4ff;
}
.ant-select .ant-select-selection-placeholder {
  font-family: AiDeep;
  font-weight: 400;
  font-size: 0.2rem;
  color: #50b4ff;
}

.twitter-modal-box {
  width: 3rem;
  background: #fff;
  border-radius: 0.2rem;
  .twitter-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    img {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      margin-right: 0.1rem;
    }
    .text1 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 0.2rem;
      color: #000;
    }
    .text2 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 0.14rem;
      color: #000;
    }
  }
  .twitter-modal-box-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cookie-box {
  width: 14rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
  z-index: 2;
  .title {
    font-family: AiDeep;
    font-weight: 400;
    font-size: 0.24rem;
    color: #50b4ff;
    margin-bottom: 0.2rem;
  }
  .des {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.16rem;
    color: #5c7392;
  }
  .cookie-box1 {
    width: 100%;
    background: #fff;
    border-radius: 1rem 0.3rem 0.3rem 0.3rem;
    padding: 0.5rem;
    .textbox {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.2rem;
      .text-item {
        border: 1px solid #9fd6ff;
        border-radius: 0.1rem;
        padding: 0.1rem;
        .text1 {
          font-family: Poppins;
          font-weight: 600;
          font-size: 0.16rem;
          color: #5c7392;
        }
        .text {
          font-family: AiDeep;
          font-weight: 400;
          font-size: 0.2rem;
          color: #56b6fe;
          margin-top: 0.1rem;
        }
        .avatar-box {
          display: flex;
          a {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            border: 1px solid #9fd6ff;
            overflow: hidden;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .cookie-box2 {
    background: #ffffff url('/assets/images/img-34.png') no-repeat right top;
    background-size: auto 90%;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    .textbox {
      .text-item {
        width: 2rem;
        font-family: Poppins;
        font-weight: 400;
        font-size: 0.16rem;
        color: #5c7392;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.1rem;
        div {
          &:nth-child(2) {
            color: #50b4ff;
          }
        }
      }
    }
  }
  .cookie-box3 {
    background: #ffffff url('/assets/images/img-35.png') no-repeat;
    background-size: 100% auto;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    position: relative;
    .img-36 {
      width: auto;
      height: 1.8rem;
      position: absolute;
      bottom: 0;
      right: 0.2rem;
    }
  }
  .cookie-box4 {
    background: #ffffff;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    .s-title {
      font-family: AiDeep;
      font-weight: 400;
      font-size: 0.16rem;
      color: #50b4ff;
      margin-bottom: 0.2rem;
    }
    .team-details {
    }
  }
}
